<%= javascript_include_tag "apoena.js" %>
<%= javascript_include_tag "apoena_parser.js" %>

<div class="analysecode">

	<div class="container">

		<div class="form" align="center"><br>

			<%if current_user %>
				<%= form_for :project do |p| %>
				  <%= p.url_field :link, :placeholder => "GitHub link of project" %>
				  <%= p.submit "Submit project", class: "btn-submit" %>


				<% end %>
				<div class="navbar">
				  <input type="checkbox" checked onclick="apo.grid.changeState();">View grid</button>
				  <button onclick="zoomIn()">+</button>
				  <button onclick="zoomOut()">-</button>
				  <button onclick="resetZoom()">reset zoom</button>
				  <button onclick="saveImage()">Export Image</button>
				</div>
				<canvas id= "class_diagram" userID = "<%= current_user.id%>"
					width="1000"
					height="600">
				</canvas>

			<%end%>

    </div>
	</div>
</div>

<%= javascript_include_tag "load_from_apoena.js" %>